@media screen and (max-width:425px) {
    .nav-container {
        flex-direction: column;
    }

    .nav-items-container {
        flex-direction: column;
        align-items: center;

    }

    .nav-items-container a {
        flex-direction: column;
        margin-top: 36px;
    }


    /* Banner section start */
    .banner-container {
        flex-direction: column;
    }

    .banner-container-text {
        width: 100%;
        text-align: center;
    }

    .banner-container-image {
        width: 100%;
    }

    /* Banner section end */

    /* gamer section start */
    .gamer {
        flex-direction: column;
    }

    .gamer-container {
        flex-direction: column;
    }

    /* gamer section end */

    /* Games and funny videos start */
    .images-container {
        flex-direction: column;
        text-align: center;
    }

    /* Games and funny videos end */

    /* Play Instantly start */

    /* Play Instantly end */

    .play-instantly-container {
        flex-direction: column;
    }

    .play-instantly-container-02 {
        flex-direction: column;
    }

    /* Careers start */
    .careers-container {
        flex-direction: column;

    }

    .careers-text-container {
        width: 100%;
    }

    .careers-image-container {
        width: 100%;
    }

    .careers-list {
        flex-direction: column;
    }

    /* Careers end */

}