@media screen and (max-width:425px) {
    .nav-container {
        flex-direction: column;

    }

    .logo-container {
        flex-direction: column;
    }

    .nav-items-container {
        width: 50%;
        flex-direction: column;
    }

    .nav-items-container a {
        flex-direction: column;
        margin-top: 36px;
    }


    /* Banner section start */
    .banner-container {
        flex-direction: column;
    }

    .banner-container-text {
        width: 100%;
        text-align: center;
    }

    .banner-container-image img {
        width: 100%;
    }

    /* Banner section end */

    /* gamer section start */
    .gamer {
        flex-direction: column;
        text-align: center;
    }

    .gamer-container {
        flex-direction: column;
    }

    .gamer-image img {
        width: 100%;
        justify-content: center;
        /* margin-top: 50px; */
    }

    .gamer-text {
        width: 100%;
    }

    .gamer-description {
        text-align: center;
    }

    /* gamer section end */

    /* Games and funny videos start */
    .images-container {
        flex-direction: column;
        text-align: center;
    }

    /* Games and funny videos end */


    /* Play Instantly start */

    .play-instantly-container {
        flex-direction: column;
    }

    .play-instantly-container-02 {
        flex-direction: column;
    }

    .play-instantly-text-container {
        width: 100%;
    }

    .play-instantly-image-container img {
        width: 100%;
    }

    /* Play Instantly end */


    /* Careers start */
    .careers-container {
        flex-direction: column;
        width: 100%;
    }

    .careers-text-container {
        width: 100%;
    }

    .career-text {
        text-align: center;
    }

    .career-description {
        text-align: center;
    }

    .careers-list {
        text-align: center;
    }

    .all-positions-btn {
        margin-left: 80px;
    }

    .careers-image-container img {
        width: 100%;
    }

    /* Careers end */

    /* All games start */
    .all-games-container {
        flex-direction: column;
    }

    /* All games end */

    /* Footer start */

    /* .footer-top-container {
        flex-direction: column;
    } */

    .footer-menu {
        flex-direction: column;
        text-align: center;
    }

    .footer-privacy {
        flex-direction: column;
        text-align: center;
    }

    /* Footer end */
}